
*
{ margin: 0;
padding: 0%;
}


.flex-container
{
    display: flex ; /* le da formato flex */
    background-color: grey;
    margin: auto;
    margin-top: 30px;
    width: 70%;
    height: 200px;
    justify-content: center; /* centra en el contenedor todos los elementos */
    justify-content: flex-end;/* manda todos los elementos pegados contra la derecha*/
    justify-content: flex-start; /* manda todos los elementos pegados contra la izquierda*/
    justify-content: space-between;/* me pone un espacio entre los divs */
    justify-content: space-around; /* deja una sangria en el primer elemento y el ultimo y despues espacios entre cada uno */
    align-items: center; /* centra en el ancho del contenedor */
    align-items: flex-start;
    align-items: flex-end;
}



.flex-container>div
{
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 14px;
    text-align: center;
}
#tres,#siete
{
    background-color: aqua;
    color: red;
    align-self: center;
}

#dos
{
    background-image: linear-gradient(lightblue, violet);/*  te hace fondo en degrade */
    color: red;
    align-self: flex-start;
}
